/* MAIN CONTENT */

.app, .body {
    height: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activePage{
    width: 40%;
    margin: 20px auto
}

.feed {
    background-color: gainsboro;
    flex-grow: 2;
}

form {
    width: 100%;
    margin: 12px;
}
textarea {
    resize: vertical;
    cursor: pointer;
    min-height: 10em;
    width: 100%;
    border-radius: 8px;
}

textarea:focus {
    outline: 2px solid rgb(167, 228, 255);
}

/*////////// PAGES ///////////*/

/* UsersPage */

.userRow {
    display: flex;
    gap: 2em;
}

.profilePicture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}