.formContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container {
    border: solid 2px black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

